header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:#b7e5ff; /*el color del fondo*/
    font-size:20px; /*tama�o del texto en pixeles*/
    color:black; /*color de las letras*/
    padding:20px; /*el espacio entre el borde y el contenido*/
    border:6px solid white; /*tama�o, forma y color del borde de la pagina*/
    }
    
h1{color:black;}

table{
    border-collapse: collapse; /* Los bordes de la tabla se pegarán (mejor aspecto) */
    }

td, th{border: 1px solid black;}